/* Reset */

body, h1, h2, h3, p, ul {
    padding:0px;
    margin: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}
/*  Menu  */

.menu {
    background: #252525;
    padding: 20px 0;
}

/* fazendo o container do menu, eh margin 0 auto para centralizar no meio*/
.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

/* Esse after e before eh pq como foi usado o float left, tem que usar esse clear, content, display para não definir um ta
manho de width padrão e sim ele ficar do tamanho do conteúdo */
.menu-container::after, .menu-container::before {
    content: "";
    display: table;
    clear: both;    
}

.menu-logo {
    display: block;
    /* Display block pq todo "A" nao pega inteiro, ai com o display block pega, o LEFT eh para ele ir para a esquerda e o
    width é equivalente ao grid-4*/
    float: left;
    width: 200px;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
    /* esse margin right e o margin left da parte de cima, eh para o gutter, que sao 20px */
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;  /* equivalente aos 18px, sei que eh 1.125em pq eh 18/16, sempre será 16 pq é o tamanho base */
}

.menu-nav a:hover {
    color: #ffaa;
    transition: 0.3s;
}


/* INTRO */
.intro {
    background: url(../img/bg-intro.jpg) no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;  /* 48px dividido por 16, para dar os 3em */
}

.intro h1::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}


/* SOBRE */

.sobre {
    padding: 60px 0;
}

.sobre-container {
    max-width: 960px;
    margin: 0 auto; 
}

.sobre-container::after, .sobre-container::before {
    content: "";
    display: table;
    clear: both;    
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;  /* 36px dividido por 16 */
    margin-bottom: 60px;
}

.sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    /* o top negativa para o quadrado ir para cima da imagem e o position relative para aparecer por cima da imagem */
    top: -25px;
    position: relative;
}

/* maior que p, para ir na classe SOBRE e falar com o primeiro P que achar */
.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

/* PRODUTOS */

.produtos {
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos-container {
    max-width: 960px;
    margin: 0 auto; 
}

.produtos-container::after, .produtos-container::before {
    content: "";
    display: table;
    clear: both;    
}

.produtos-item {
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}

.produtos-item h2 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.produtos-item h2:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}

h2.produtos-paulista::before {
    color: #492901;
}

h2.produtos-carioca::before {
    color: #c17139;
}

h2.produtos-mineiro::before {
    color: #d7a54d;
}
.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.produtos-btn {
    width: 180px;
    border: 3px solid;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}

/* LOCAIS */

.locais {
    max-width: 960px;
    margin: 0 auto; 
    padding: 20px 0;
}

.locais-item img {
    width: 460px;
    display: block;
    float: left;
    margin: 0 10px;
}

.locais-item {
    clear: both;
    margin: 60px 0;
}

.locais-item::after, .locais-item::before {
    display: table;
    content: "";
    clear: both;
}

.locais-item > div {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais-item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid;
    color:  #252525;
    padding: 10px 20px;
}